/* general / utility */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

:root {
  --pink: #ffd6ed;
  --purple: #a47fb9;
  --navy-1: #7c7ea2;
  --navy-2: #5d5f83;
  --text-light: #f5f5f5;
  --text-dark: #333333;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hoverable-text:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.hoverable-button:hover {
  cursor: pointer;
  box-shadow: 0 15px 10px #66688f;
  transform: translateY(-5px);
}

/* header */
.title {
  background-color: var(--navy-2);
  color: var(--text-light);
  font-size: 44px;
  padding: 0.5em 0;
  text-align: center;
}

.title:hover {
  cursor: pointer;
}

.subtitle {
  background-color: var(--navy-1);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em 1em;
  text-align: center;
}

.subtitle h2 {
  font-size: 24px;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.local-storage:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

/* main */
main {
  min-height: 90%;
  display: flex;
  background-color: var(--pink);
}

/* general section styling */
section {
  background-color: var(--purple);
  width: 80%;
  min-height: 500px;
  margin: 0 auto;
  padding: 1em 10% 0.5em;
  border-radius: 8px;
  align-self: center;
  display: flex;
  flex-direction: column;
  color: var(--text-dark);
}

section h3 {
  font-size: 36px;
  text-align: center;
  padding-bottom: 0.3em;
  color: var(--text-dark);
  border-bottom: 3px solid var(--text-dark);
}

section p {
  font-size: 24px;
}

section button {
  background-color: var(--pink);
  border: none;
  border-radius: 8px;
  box-shadow: 0 15px 10px #66688f3a;
  transition: all 0.3s ease 0s;
}

/* intro */
.intro {
  text-align: left;
}

.intro p {
  margin: 1em 0 0 1em;
  font-weight: bold;
}

.intro ul {
  list-style: inside;
  font-size: 24px;
  margin: 1em auto;
  list-style-position: outside;
}

.intro button {
  font-size: 32px;
  width: 30%;
  margin: 0 auto;
  padding: 0.5em;
}

/* question-card */
#answers-container-el {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1em 0;
  border-bottom: 3px solid var(--text-dark);
}

.answer-choice {
  width: 70%;
  font-size: 24px;
  text-align: left;
  padding: 0.7em;
  margin: 0.5em auto;
}

.non-selected {
  background-color: var(--navy-1);
  color: var(--text-light);
}

#question-notification-el {
  margin: 1em;
  font-style: italic;
  font-size: 28px;
}

.question-submit {
  width: 25%;
  margin: 0 auto 1em;
  font-size: 32px;
  padding: 0.5em;
}

/* results */
.results {
  text-align: center;
  padding: 4em;
  justify-content: space-evenly;
}

.results p {
  font-size: 28px;
  margin-bottom: 0.5em;
  font-weight: bold;
}

#initials {
  font-size: 28px;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.results button {
  width: 50%;
  margin: 1em auto 0;
  font-size: 28px;
  padding: 0.5em 0;
}

/* high scores */
.high-scores p {
  text-align: center;
  font-size: 32px;
  margin-top: 1em;
}

.high-scores ol {
  margin: 1em 0;
  font-size: 24px;
  align-self: center;
}

.high-scores button {
  width: 50%;
  margin: 1em auto 0;
  font-size: 28px;
  padding: 0.5em 0;
}

/* footer */
footer {
  background-color: var(--navy-2);
  padding: 1em;
  display: flex;
}

footer a {
  text-decoration: none;
  display: flex;
  transition: all 0.3s ease 0s;
}

footer h4 {
  font-size: 36px;
  color: #fff;
  margin-right: 1em;
}

.github-icon {
  width: 45px;
  height: 45px;
}

/* media queries */
/* medium screens */
@media screen and (max-width: 1020px) {
  section h3 {
    font-size: 28px;
  }

  section p {
    font-size: 20px;
  }

  .intro ul {
    font-size: 20px;
  }

  .intro button {
    width: 50%;
    font-size: 28px;
  }

  .answer-choice {
    font-size: 20px;
  }

  .question-submit {
    width: 60%;
    font-size: 24px;
  }

  .high-scores button {
    width: 60%;
    font-size: 24px;
  }

  footer {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }
  
  .subtitle h2 {
    font-size: 20px;
  }

  main {
    min-height: 83%;
  }

  section {
    min-height: 420px;
  }

  section h3 {
    font-size: 24px;
  }


  .intro button {
    font-size: 24px;
  }

  .answer-choice {
    font-size: 16px;
  }

  .high-scores button {
    font-size: 20px;
  }

  footer h4 {
    font-size: 28px;
  }
}

@media screen and (max-width: 575px) {
  .title {
    font-size: 24px;
  }
  
  .subtitle h2 {
    font-size: 16px;
  }

  section {
    width: 100%;
    border-radius: unset;
  }

  section h3 {
    font-size: 18px;
  }

  .intro button {
    width: 85%;
    font-size: 20px;
  }

  .answer-choice {
    font-size: 14px;
    width: 100%;
  }

  .question-submit {
    font-size: 20px;
    width: 100%;
  }

  .results p {
    font-size: 20px;
  }

  .results button {
    width: 100%;
  }

  .high-scores button {
    width: 90%;
  }

  footer h4 {
    font-size: 24px;
  }

  .github-icon {
    height: 30px;
    width: 30px;
  }
}

